/* CSS declarations go here */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #4885ed;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

.map-ui {
  width:100%;
  height:100%;
}

.container {
  width:100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px;
}

.reports {
  height: 50%;
  width:100%;
  position: relative;
}

.requests {
  height: 50%;
  width:100%;
  background-color: #404040;
  position: absolute;
  top:50%;
}

.side-bar-content {
  min-width: 200px;
  position: relative;
}

header {
  margin-left: 15px;
}
header>h1{
  color: white;
  font-weight: 100;
}