/* CSS declarations go here */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

.map-ui {
  width:100%;
  height:100%;
}

.container {
  width:100%;
  height: 100%;
}

.reports {
  height: 50%;
  width:100%;
  position: relative;
}

.requests {
  height: 50%;
  width:100%;
  background-color: #404040;
  position: absolute;
  top:50%;
}

.side-bar-content {
  height: 100%;
  min-width: 225px;
  position: relative;
}

header {
  position: fixed;
  width:100%;
  padding-left: 18px;
  height:60px;
  background-color: #4885ed;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 5px 8px;
  z-index: 1001;
}
header>h2{
  color: white;
  font-weight: 100;
}

.shelter-markers {
  background-color: #f4c20d;
  min-width: 40px;
  height:40px;
  padding:3px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 2px;
}

.Crises {
  background-color: #db3236;
  min-width: 40px;
  height:40px;
  padding:3px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 2px;
}

.drag-handle {
  cursor:row-resize;
  float: right;
  opacity: 0;
  transition: 50ms all ease-in;
}

.dragging {
  cursor: row-resize;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 5px
}

ul {
  padding:0;
  margin:0;
}

li{
  list-style-type: none;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 300;
  background-color: #fcfcfc;
  color: #212121;
  border: 0.1px solid #f8f8f8;
}

li:hover>.drag-handle{
  opacity: 1;
}

.login {
  position: fixed;
}