/* CSS declarations go here */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

.map-ui {
  width:100%;
  height:100%;
}

.container {
  width:100%;
  height: 100%;
}

.reports {
  height: 50%;
  width:100%;
  position:relative;
  /*overflow-x:scroll;*/
}

.requests {
  height: 50%;
  width:100%;
  background-color: #303030;
  position: absolute;
  top:50%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.side-bar-content {
  height: 100%;
  min-width: 225px;
  position: relative;
}

.side-bar>div>div:first-child {
  overflow-y: visible !important;
}

header {
  position: fixed;
  width:100%;
  padding-left: 18px;
  height:60px;
  background-color: #4885ed;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 5px 8px;
  z-index: 1001;
}
header>h2>a{
  color: white;
  font-weight: 100;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/*.shelters {
  width: 40px;
  height:40px;
  padding:3px;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 2px
}

.fire {
  min-width: 40px;
  height:40px;
  padding:3px;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 2px;
}

.flood {
  min-width: 40px;
  height:40px;
  padding:3px;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 2px;
}

.road {
  min-width: 40px;
  height:40px;
  padding:3px;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 2px;
}*/

.marker {
  position:absolute;
  top:-30px;
  left:-46px;
  min-width: 30px;
  min-height:30px;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
}

.temp-marker {
  position:absolute;
  top:-46px;
  left:-46px;
  min-width: 30px;
  min-height:30px;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
}

.marker:hover {
  z-index:103;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
}

.marker>.marker-info {
  position:absolute;
  left:-42px;
  width:80px;
  bottom:45px;
  display:none;
  padding:10px;
  padding-right:20px;
  border-radius: 5px;
  text-shadow: #fafafa 0 0 0;
  color: #303030;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
}

.marker:hover>.marker-info {
  display:block;
  min-width:100px;
}

.index0 {
  z-index: 101;
  position: absolute;
}

.index1 {
  z-index: 100;
  position: absolute;
}

.index2 {
  z-index: 99;
  position: absolute;
}

.index3 {
  z-index: 98;
  position: absolute;
}

.index4 {
  z-index: 97;
  position: absolute;
}

.index5 {
  z-index: 96;
  position: absolute;
}

.index6 {
  z-index: 95;
  position: absolute;
}

.hiddenMarkers {
  display: none;
}

/*li {
  display:flex;
  list-style-type: none;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 0.1px solid rgba(128,128,128,0.1);
}*/

li.report-item{
  display:flex;
  list-style-type: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 0.1px solid rgba(128,128,128,0.1);
  background-color: #fcfcfc;
  color: #303030;
}

li.report-item-Shelters{
  border-left:5px solid #f4c20d;
}
li.report-item-Fire{
  border-left:5px solid #db3236;
}
li.report-item-Flood{
  border-left:5px solid #4885ed;
}
li.report-item-Road{
  border-left:5px solid #FF9800;
}
li.report-item-GasLeak{
  border-left:5px solid #00695C;
}
li.report-item-PSI{
  border-left:5px solid #4E342E;
}

li.report-item>.report-info{
  display: none;
}
li.report-item:hover>.report-info{
  display: block;
  position: absolute;
  left:250px;
  min-width:190px;
}

/*li.request-item{
  color:#fafafa;
}*/

.drag-handle {
  cursor:row-resize;
  flex:1;
  float:right;
  opacity: 0;
  transition: 100ms all ease-in-out;
}

li:hover>.drag-handle{
  opacity: 0.7;
}

.dragging {
  cursor: row-resize;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 5px
}

.delete {
  opacity: 0;
  height: 10px;
  margin: auto;
  transition: 0.1s all ease-in-out;
}

ul {
  padding:0;
  margin:0;
}

.login-button {
  display: block;
  position: fixed;
  z-index: 1002;
  right: 15px;
  top: 12px;
}

.login-page {
  padding-top: 70px;
  margin-right: 80px;
  margin-left: 80px;
}

.requests>div:nth-child(2)>div:hover .delete {
  opacity: 1;
}

.requests>div:nth-child(2)>div>span {
  min-height: 90px;
}

.request-form {
  /*width:300px;
  height:200px;*/
  min-width:285px;
  position:fixed;
  z-index:1500;
  bottom:10px;
  left:250px;
  font-weight: 300;
}

.request-form-head {
  padding:5px 15px;
  background-color:#424242;
  display: table;
}

.request-form-head>div,.request-form-head>button{
  display: table-cell;
  vertical-align: middle;
}

.request-type {
  padding-bottom: 10px;
}

.request-form-head>div {
  padding-bottom: 5px;
}

.request-form-input {
  padding:15px;
  padding-top:10px;
}

.add-request {
  position: fixed;
  z-index: 1500;
  right:5px;
  bottom:5px;
  background-color: #404040;
  box-shadow: rgba(0, 0, 0, 0.5) -5px -5px 20px;
  border-radius: 40px;
}

.request-form-actions{
  float:right;
  margin-top:9px;
  margin-bottom:5px;
  padding-right:0 !important;
}

.posStorage {
  display:none;
}

.subscribe {
  display: block;
  position: fixed;
  height: 60px;
  float: right;
  right: 120px;
  top: 0;
  padding: 0 20px;
  padding-right: 120px;
  background-color: #fafafa;
}

.subscribe-button {
  position: absolute;
  top:12px;
  right: 15px;
}

.material-icons.md-12 { font-size: 12px !important; }
.material-icons.md-18 { font-size: 18px !important; }
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54) !important; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26) !important; }

.material-icons.md-light { color: rgba(255, 255, 255, 1) !important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3) !important; }